<footer class="site-footer">
  <div class="container">
    <p>© 2026 VolunRed. Plataforma de voluntariado.</p>
  </div>
</footer>
<script src="/js/main.js"></script>
<script src="/js/address-search.js"></script>
</body>
</html>
